<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/header.css">
</head>

<body>
    <div id="wrap">
        <header class="header_wrap">
            <div class="header">
                <h1><img src="/public/img/logo.png" alt=""></h1>
                <h1></h1>
                <div class="hamburger_btn">
                    <span class="hamburger num1"></span>
                    <span class="hamburger num2"></span>
                    <span class="hamburger num3"></span>
                </div>
            </div>
        </header>
        <div id='gnb' class="gnboff">
            q1eqwewq
        </div>
        <div id="container">
            container
        </div>
    </div>
    <script src="/public/js/main.js" type="text/javascript"></script>
</body>

</html>