<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div id="wrap">
        <header class="header_wrap">
            <div class="header">
                <h1></h1>
                <div class="hamburger_btn">
                    <span class="hamburger num1"></span>
                    <span class="hamburger num2"></span>
                    <span class="hamburger num3"></span>
                </div>
            </div>
        </header>
        <div id='gnb' class="gnboff">
            <img src="/img/logo2.png" alt="">
            <div class="gnbtext">환장의 나라</div>
            <div>
                <a href="/user/login">로그인</a>
                <a href="/user/join">회원가입</a>
            </div>
        </div>
        <div id="container_wrap">
            <div id="scroll5" class="scrollForm" >
                123
            </div>
            <div id="scroll1" class="scrollForm">
                <h2 class="scrollHForm">
                    <div><img src="/img/Jang1.png" alt=""></div>    
                    <img src="/img/jang2.png" id="scroll1_1"/>
                </h2>
                <div id="scroll1_2" class="scrollHForm2">
                    <div class=scrollContent1>
                        <h1>안녕하세요,</h1>
                        <h1>Back-End를 맡은</h1>
                        <h1>장경호입니다.</h1>
                        <span>sdlfjsdflkjsdflksdjfskldfjlksdjf
                            lksdjfsldkfjsdlkfjsdklf
                            sdlkfjsdlkfjsdlkfjsldkfj
                            lskdfjoiwejfwofjlskdfjlskdfjsldkf
                        </span>
                    </div>
                </div>
            </div>
            <div id="scroll2" class="scrollForm" style="margin-bottom: 0;">
                <h2 class="scrollHForm">
                    <div><img src="/img/Baek1.png" alt=""></div>    
                    <img src="/img/jong2.png" id="scroll2_1"/>
                </h2>
                <div id="scroll2_2" class="scrollHForm2" >
                    <div class="scrollContent2">
                        <h1>안녕하세요,</h1>
                        <h1>Front-End를 맡은</h1>
                        <h1>백종환입니다.</h1>
                        <span>sdlfjsdflkjsdflksdjfskldfjlksdjf
                            lksdjfsldkfjsdlkfjsdklf
                            sdlkfjsdlkfjsdlkfjsldkfj
                            lskdfjoiwejfwofjlskdfjlskdfjsldkf
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>