html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333333;
}
ul, li{
    list-style: none;
}
#boardList_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}
#boardList{
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 3rem;
    color:var(--main_fontcolor);
}
#title > span {
    width:46rem;
    font-size: 4.5rem;
    text-align: center;
    margin-left: calc(50% - 29rem) ;
}
#title > a > img {
    width: 7rem;

}
#board{
    position: relative;
    width: 100%;
    height: 80%;
    padding: var(--input-padding);
    background-color: antiquewhite;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px #666;
}
.table{
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0;
    width: 90%;
    height: 54.5rem;
    text-align: center;
    border: 1px solid #dedede;
}
ul{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #ddd ;
}
.tableHeader {
    align-content: center;
    align-items: center;
    font-size: 2rem;
    height: 5rem;
    line-height: 2rem;
    background-color: rgb(95, 113, 113)
}
.tableHeader > span{
    width: 20rem;
}
li{
    display:inline-block;
    width: 20rem;
    color: #333333;
    text-align: center;
    font-size: 1.7rem;
    padding: var(--input-padding);
    /* margin-bottom: 0.6rem; */
}

#page{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#page > span {
    margin: auto 1rem;
    font-size: 1.5rem;
}

#board > a{
    position:absolute;
    right: 12rem; bottom: 4em;
    background-color: rgb(241, 198, 176);
    width: 7rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    border-radius: 1.3rem;
    color: var(--font-color);
    padding: var(--input-padding);
}