html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 500;
}
a{
    text-decoration: none;
}
#wrap{
    width: 100vw;
    height: 100vh;
    overflow-x:hidden ;
}
/* header start */

.header{
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 0;
    height: 9vh;
}
.header > h1 {
    margin: 0;
    padding: 0;
}
.hamburger_btn {
    cursor: pointer;
    display: block;
    float: right;
    transition: all 1s;
}
.hamburger_btn:hover {
    transform: translateY(0.3rem);
}
.hamburger_btn:hover > .hamburger {
    background-color: rgb(214, 161, 69);
    transition: all 1s;
}
/* .hamburger_btn > .num1, .num2, .num3 {
    transition: all 1s;
}
.hamburger_btn:hover > .num1 {
    width: 3rem;
    transform: rotate(90deg);
}
.hamburger_btn:hover > .num2 {
    width: 1.5rem;
    transform: rotate(-315deg) translateX(0.5rem) translateY(0.15rem);
}
.hamburger_btn:hover > .num3 {
    width: 1.5rem;
    transform: rotate(315deg) translateX(1rem) translateY(0.8rem);
} */
.hamburger {
    display: block;
    margin: 0.3rem 0;
    width: 2rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #453a33;
}


/* header end */


/* gnb start */
.gnboff {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -30vw;
    width: 30vw;
    height: 91vh;
    opacity: 0;
    transition: 1s;
    background-color: var(--content-box);
}
.gnbon{
    position:absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0vw;
    width: 30vw;
    height: 91vh;
    opacity: 1;
    transition: 1s;
    background-color: var(--content-box);
}
#gnb > div > a:nth-child(1), a:nth-child(2) {
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    padding: 0.7rem 1.4rem;
    text-align: center;
    border: 00.15rem solid #939393
}
#gnb > div > a:nth-child(3){
    display: block;
    margin: 1rem;
    font-size: 2rem;
    padding: 0.7rem 1.4rem;
    text-align: center;
    border: 00.15rem solid #939393
}
.gnbtext{
    margin: 3rem 0;
    font-size: 3rem;
}

#profilePic > img {
    display: flex;
    width: 15rem;
    height: 15rem;
    margin-top: 5rem ;
    background-color: wheat;
    border-radius: 7.5rem;
    
}
/* gnb end */

/* container start */
#container_wrap{
    height: 91vh;
    overflow: scroll;
    background-color: var(--background-color);
    width: 100%;
    background: url(/public/img/blockchain.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#container > h1 {
    left: 5rem;
    height: 91vh;
    margin-top: 100vh;
    transform: translateZ(1rem)scale(1.2);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    background-attachment: scroll fixed;
}
.scrollForm{
    width: 100vw;
    height: 100vh;
    background-color: #453a33;
    margin-bottom: 50rem;
}


