* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

#profile_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

#logo>a>img {
    width: 15vw;
}

#profile_view {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--content-box);
    padding: 3rem;
    margin-left: 15rem;
    width: 30vw;
    height: 70vh;
}

#profilePic > img{
    width: 8vw;
    height: 8vw;

    border-radius: 4vw;
}

div>img {
    width: 10vw;
    height: 10vh;
    position: absolute;
    border-radius: 4vw;
    left: 35%;
}


#profile_con {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 70%;
    /* height: 70%; */
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    height: 30%;
    font-size: 2rem;
}

h1 {
    margin-top: 2rem;
    font-size: 2.4rem;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30rem;
    font-size: 1.6rem;
}

#info>ul {
    border-top: 0.2rem solid var(--border-color);
    padding: var(--input-padding);
}

#info>ul>span {
    margin-top: 0.7rem;
    font-size: 2.3rem;
    float: right;
}

#btns {
    display: flex;
    width: 70%;
    height: 15%;

}

#button {
    display: block;
    margin: 3rem auto;
    width: 30%;
    background-color: rgb(241, 198, 176);
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    padding: var(--input-padding);
    color: var(--font-color);
    border: 0.1rem solid var(--border-color);
    height: 3rem;
}