<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/join.css">
</head>

<body>
    <div id="wrap">
        <header class="header_wrap">
            <div class="header">
                <h1><img src="/public/img/logo.png" alt=""></h1>
                <h1></h1>
                <div class="hamburger_btn">
                    <span class="hamburger num1"></span>
                    <span class="hamburger num2"></span>
                    <span class="hamburger num3"></span>
                </div>
            </div>
        </header>
        <div id='gnb' class="gnboff">
            <div class="gnbtext">환장의 나라 로그인</div>
            <div>
                <a href="/user/login">로그인</a>    
                <a href="/user/join">회원가입</a>
            </div>
        </div>
        <h2>회원가입 페이지</h2>
        <form method="post" action="/user/join">
            <div>
                <span>아이디</span>
                <input type="text" name="userId">
            </div>
            <div>
                <span>패스워드</span>
                <input type="password" name="userPw">
            </div>
            <div>
                이름 <br>
                <input type="text" name="userName">
            </div>
            <div>
                닉네임 <br>
                <input type="text" name="nickName">
            </div>
            <div>
                생년월일 <br>
                <input type="password" name="birth">
            </div>
            <div>
                성별 <br>
                <input type="" name="gender">
            </div>
            <div>
                핸드폰번호 <br>
                <input type="text" name="phoneNum">
            </div>
            <div>
                전화번호 <br>
                <select name="" id=""></select>
                <input type="text" name="telNum">
            </div>
            <button type="submit">완료!</button>
        </form>

    </div>
    <script src="/public/js/main.js"></script>
</body>

</html>