<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/png" href="/img/ico.png"/>
</head>

<body>
    <div id="login_wrap">
        <div id="logo">
            <a href="/"><img src="/img/logo2.png" alt=""></a>
        </div>
        <div id="login">
            <form method="post" action="/user/login">
                <div id="userId">
                    <span>아이디</span>
                    <input type="text" name="userId">
                </div>
                <div id="userPw">
                    <span>비밀번호</span>
                    <input type="password" name="userPw">
                </div>
                <button type="submit" id="userLogin">로그인</button>
            </form>
        </div>
    </div>
</body>

</html>