<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div id="wrap">
        <header class="header_wrap">
            <div class="header">
                <h1></h1>
                <div class="hamburger_btn">
                    <span class="hamburger num1"></span>
                    <span class="hamburger num2"></span>
                    <span class="hamburger num3"></span>
                </div>
            </div>
        </header>
        <div id='gnb' class="gnboff">
            <div id="profilePic"><img src="/image/{{image}}" alt="사진"></div>
            <div class="gnbtext">{{token}} 로그인</div>
            <div>
                <a href="/profile/view?idx={{idx}}">내 정보</a>
                <a href="/user/logout">로그아웃</a>
                <a href="/board/list">게시판</a>
            </div>
        </div>
        <div id="container_wrap">
            <div id="scroll1" class="scrollForm">
                123 
            </div>
            <div id="scroll2" class="scrollForm">
                123
            </div>
            <div id="scroll3" class="scrollForm">
                123
            </div>
            <div id="scroll4" class="scrollForm">
                123
            </div>
            <div id="scroll5" class="scrollForm" style="margin-bottom: 0;">
                123
            </div>
        </div>
    </div>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>