<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
    <div id="welcome_wrap">
        <div id="welcome">
            <div id="profilePic">
                <img src="/image/{{image}}" alt="">
            </div>
            <h1>Welcome, 환장의 나라</h1>
            <span>가입하신 정보를 확인해주세요</span>
            <div id="info">
                <div>
                    <ul>
                        <li>아이디</li>
                        <span>{{userId}}</span>
                    </ul>
                    <ul>
                        <li>이름</li>
                        <span>{{userName}}</span>
                    </ul>
                    <ul>
                        <li>성별</li>
                        <span>{{gender}}</span>
                    </ul>
                    <ul>
                        <li>전화번호</li>
                        <span>{{telNum}}</span>
                    </ul>
                    <ul>
                        <li>핸드폰번호</li>
                        <span>{{phoneNum}}</span>
                    </ul>
                </div>
            </div>
            <a href="/" id="check">
                확인했어요
            </a>
        </div>
    </div>
</body>

</html>