<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/boardWrite.css">
</head>

<body>
    <div id="content_wrap">
        <div id="logo">
            <a href="/"><img src="/img/logo2.png"></a>
        </div>
        <div id="write_content">
            <form class="write" method="post" action="/board/view?idx={{idx}}">
                <li>
                    <input type="hidden" value="{{idx}}" name="idx">
                </li>
                <ul class="subject">
                    <li>
                        <input type="text" name="subject" value="{{subject}}">
                    </li>
                </ul>
                <ul class="name">
                    <li>작성자 : {{writer}}
                        <input type="hidden" name="writer" value="{{writer}}">
                    </li>
                    <li>{{registerDate}}</li>
                </ul>
                <ul class="content">
                    <li>내용</li>
                    <li>
                        <textarea name="content">{{content}}</textarea>
                    </li>
                </ul>
                <div id="btns">
                    <button type="submit">
                        수정완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>