<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/boardWrite.css">
</head>

<body>
    <div id="content_wrap">
        <div id="logo">
            <a href="/"><img src="/img/logo.png" alt=""></a>
        </div>
        <div id="write_content">
            <form method="post" action="/board/write?idx={{idx}}" class="write">
                <ul class="subject">
                    <li>
                        제목 :
                        <input type="text" name="subject">
                    </li>
                </ul>
                <ul class="name">
                    <li>작성자 : {{token}}
                        <input type="hidden" name="writer">
                    </li>
                    <li>22.12.18 </li>
                </ul>
                <ul class="content">
                    <li>내용</li>
                    <li>
                        <textarea name="content"></textarea>
                    </li>
                </ul>
                <div id="btns">
                    <button type="submit">
                        완료!
                    </button>
                </div>
            </form>
        </div>
    </div>



    <h2>write페이지입니다!</h2>
    <form method="post" action="/board/write">

    </form>
</body>

</html>